@model Aplicação.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background-color: #EB7E2F;
        }

        #titulo_cadastro {
            text-align: center;
        }

        #botaofeed {
            text-decoration: none;
            text-align: center;
            background-color: #2A5594;
            color: white;
            border-color: #2A5594;
            margin-top: 40%;
            width: 200px;
        }
        input {
            background-color: #EB7E2F;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            border: 1px solid #EB7E2F;
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px #EB7E2F inset;
            transition: background-color 5000s ease-in-out 0s;
        }
        .form-group input {
            background-color: #EB7E2F;
            border: 2px solid #2A5594;
            color: white !important;
        }
        .form-group input::placeholder {
            color: white;
        }
        .form-group input:focus {
            background-color: #EB7E2F;
            border: 1px solid #2A5594;
            color: white;
        }
        span.field-validation-valid{
            color: white !important;
        }
    </style>



</head>
<body>
    <div class='nav-brand'>
        <a href='/Home'>
            <img src='https://github.com/PI-InfoWeb-CNAT/petgram/blob/login_sem_identity/images/logo_branca_petgram.png?raw=true' alt='Logo PetGram' style="width:40%; height:40%; margin-left:30%; margin-right:30%">
        </a>
    </div>

    @using (Html.BeginForm("Create", "Pet", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="margin-left: 25%; margin-right: 25%; width: 50%; margin-top: 15%">

            @*<h4 class='text-center' style="margin-top:10%; color:white;">Por gentileza, preencha os dados de seu PET:</h4>
                Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div style="margin-top:1%">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2"})*@
                <div>
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @placeholder = "Categoria" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fale um pouco sobre ele (opcional)" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(m => m.UserID, new { UserID = ViewBag.UserID })

            <div class="form-group">
                <div style="text-align:center">
                    <input type="submit" value="Adicionar PET" class="btn btn-default" style="background-color:#2A5594; color:white; border-color:#2A5594; width: 200px" />
                </div>
            </div>


            <div class="text-white text-center">@ViewBag.new_pet</div>


            <br /><br />

            <h4 class='text-center' style="margin-top:5%; color:white">Pets Criados:</h4>

            <table class="table">
                <thead>
                    <tr style="border: 5px; color:white">
                        <th scope="col" style="color:white"><h5>Nome do pet</h5></th>
                        <th scope="col" style="color:white"><h5>Categoria</h5></th>
                        <th scope="col" style="color:white"></th>
                        <th scope="col" style="color:white"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pet in @ViewBag.Pets)
                    {
                        <tr style="border: 5px; color:white">
                            <td style="color:white"><h5>@pet.Name</h5></td>
                            <td style="color:white"><h5>@pet.Category</h5></td>
                            <td style="color:white"><a href="/Pet/Edit/@pet.ID" class="btn btn-info btn-sm" style="background-color:white; border-color:white"><span class="glyphicon glyphicon-pencil" style="color: #EB7E2F"></span></a></td>
                            <td style="color:white"><a href="/Pet/Delete/@pet.ID" class="btn btn-danger btn-sm" style="background-color: white; border-color: white "><span class="glyphicon glyphicon-trash" style="color: #EB7E2F"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <div style="text-align: center">
                    @Html.ActionLink("Seja um Petgrammer!", "Feed", "Home", new { UserID = ViewBag.UserID }, new { @id = "botaofeed", @class = "btn btn-default" })
                </div>
            </div>
            @*<a href='@Url.Action("Feed", "Home", new { UserID = ViewBag.UserID })'>
                    <button style="text-align:center; background-color: #2A5594; color: white; border-color: #2A5594; margin-top: 10%">Seja um Petgrammer!</button>
                </a>*@
            @*<a href="~/Views/Home/Feed.cshtml">
                    <button style="text-align:center; background-color: #2A5594; color: white; border-color: #2A5594; margin-top: 10%">Meu Botão</button>
                </a>*@
        </div>
    }
</body>
</html>
