@model Aplicação.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Perfil</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-color: #EB7E2F;
        }
    </style>
</head>
<body>
    @*Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")*@
    
    <div class='nav-brand'>
        <a href='/Home'>
            <img src='https://github.com/PI-InfoWeb-CNAT/petgram/blob/login_sem_identity/images/logo_branca_petgram.png?raw=true' alt='Logo PetGram' style="width:40%; height:40%; margin-left:30%; margin-right:30%">
        </a>
    </div>
    
    @using (Html.BeginForm("EditarPerfil", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
    <div class="form-horizontal" style=" margin-left: 40%; margin-right: 40%; width: 20%;">
        @*Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ImagemMimeType)
        @Html.HiddenFor(model => model.Imagem)
        @Html.HiddenFor(model => model.Data_Nascimento)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Senha)
        @Html.HiddenFor(model => model.ConfirmaSenha)*@

        <div class="form-group">
            @if (Model.Imagem == null)
            {
                <div class="form-control-static">
                    Nenhuma imagem adicionada
                </div>
            }
            else
            {
                <div class="panel-footer">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkRemoverImagem" value="Sim">Remover imagem
                        </label>
                    </div>
                </div>
            }
        </div>

        <div style="margin-top:40%">
            <div class="form-group">
                @Html.TextBox("imagem", "", new { type = "file" })
            </div>
        </div>
        
        <hr style="color:#FD9448; height:2px">

        <div class="form-group" style="color:white">
            @*Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <h4 style="color:white">Nome</h4>
            <div class="form-group">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <hr style="color:#FD9448; height:2px">
        
        <div class="form-group" style="color:white">
            @*Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <h4 style="color:white;">Nome de usuário</h4>
            <div class="form-group">
                @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr style="color:#FD9448; height:2px">
        @*<div class="form-group" style="color:white">
            @Html.LabelFor(model => model.Data_Nascimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.Data_Nascimento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data de nascimento" } })
                @Html.ValidationMessageFor(model => model.Data_Nascimento, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group" style="color:white">
            @*Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <h4 style="color:white">Descrição</h4>
            <div class="form-group">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fale-nos um pouco sobre você" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr style="color:#FD9448; height:2px">
        @*<div class="form-group" style="color:white">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.ConfirmaSenha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirme sua senha" } })
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div style="text-align:center">
                <input type="submit" value="Salvar" class="btn btn-default" style="background-color:#2A5594; color:white; border-color:#2A5594; width:100px" />
            </div>
        </div>
        <hr style="color:#FD9448; height:2px">
        <br /><br /><br />
        <p>
            <h3 style="text-align:center; color:white">Deseja excluir sua conta?</h3>
            <div style="text-align:center">
                @using (Html.BeginForm("DeletarUsuario", "Home", new { id = ViewBag.UserID }, FormMethod.Post, new { @id = "delete-user-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Excluir" class="btn btn-default" style="background-color:#2A5594; color:white; border-color:#2A5594; width:100px" />
                }
            </div>
        </p>
    </div>
    }
    
    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
</body>
</html>
