@model IEnumerable<Aplicação.Models.Postagem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-color: #EB7E2F;
        }
    </style>
    <script src="https://kit.fontawesome.com/d17ae299ca.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class='nav-brand'>
        <a href='/Home'>
            <img src='https://github.com/PI-InfoWeb-CNAT/petgram/blob/login_sem_identity/images/logo_branca_petgram.png?raw=true' alt='Logo PetGram' style="width:10%; height:8%; margin-left:45%; margin-right:45%">
        </a>
    </div>
    @*foreach (var item in Model)
        {

            @Html.DisplayFor(modelItem => item.UserID)

            @Html.DisplayFor(modelItem => item.Data)

            @Html.DisplayFor(modelItem => item.Descricao)

            @Html.DisplayFor(modelItem => item.Visibilidade)

            @Html.DisplayFor(modelItem => item.Filtro)

        }*@

    @*Html.ActionLink("Publicar postagem", "Publicar", "Postagem", new { UserID = ViewBag.UserID }, null)
        <div style="display: inline-block; margin-left: 1%;"><a href="~/Views/Postagem/Publicar.cshtml" class="fas fa-camera fa-lg" style="text-decoration:none; color:white"></a></div>*@

    @foreach (var item in Model)
    {
        <div class="card col align-items-left" style="margin: 10px 25% 10px 25%; background-color: #EB7E2F; border-color: #EB7E2F">
            <img class="img-thumbnail img-responsive" style="margin-left:5%; margin-right:5%" src="@Url.Action("GetImagem", "Postagem", new { id = item.ID })" />


            <div class="card-body" style="background-color: #EB7E2F; margin-left: 5%; margin-right: 5%; margin-top: 1%">
                <h5 class="card-title" style="color: white; display: inline-block">@Html.DisplayFor(modelItem => item.UserID)</h5>
                <h6 class="card-text" style="color: white; display: inline-block">@Html.DisplayFor(modelItem => item.Descricao)</h6>
            </div>

            <div style="margin-left: 5%; margin-right: 5%; margin-top:1%">
                <h6 class="card-text" style="color:white">Faça um comentário sobre a postagem:</h6>
                <br />
                @using (Html.BeginForm("Comentar", "Mensagem", new { UserID = ViewBag.UserID, PostID = item.ID, Descricao = "teste", Data = DateTime.Now.ToString() }, FormMethod.Post, new { @id = "comment-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Enviar" style="background-color: #2A5594; color: white; border-color: #2A5594" />
                }
            </div>
        </div>

        @*<div class="" style="margin: 10px 20px 10px 20px;">
                <p>
                    Faça um comentário sobre a postagem:
                </p>

                @using (Html.BeginForm("Comentar", "Mensagem", new { UserID = ViewBag.UserID, PostID = item.ID, Descricao = "teste", Data = DateTime.Now.ToString() }, FormMethod.Post, new { @id = "comment-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Enviar" />
                }
            </div>*@
        <hr style="color:#FD9448; height:2px">
    }

    <footer style="background-color: #2A5594; height: 50px">
        <div style="display: inline-block; margin-top:15px; margin-left: 48%"><a href="~/Home/Feed?UserID=1" class="fas fa-home fa-lg" style="text-decoration:none; color:white"></a></div>
        <div style="display: inline-block; margin-top: 15px"><a href="~/Postagem/Publicar?UserID=1" class="fas fa-camera fa-lg" style="text-decoration:none; color:white"></a></div>
        <div style="display: inline-block; margin-top: 15px"><a href="~/Home/Perfil?UserID=1" class="fas fa-user fa-lg" style="text-decoration:none; color:white"></a></div>
    </footer>
</body>
</html>
