@model IEnumerable<Aplicação.Models.Postagem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feed</title>
</head>
<body>

    @*foreach (var item in Model)
        {

            @Html.DisplayFor(modelItem => item.UserID)

            @Html.DisplayFor(modelItem => item.Data)

            @Html.DisplayFor(modelItem => item.Descricao)

            @Html.DisplayFor(modelItem => item.Visibilidade)

            @Html.DisplayFor(modelItem => item.Filtro)

        }*@

    @foreach (var item in Model)
    {
        <div class="card col align-items-center" style="margin: 10px 20px 10px 20px;">
            <img class="img-thumbnail img-responsive" style="height: 300px" src="@Url.Action("GetImagem", "Home", new { id = item.ID })" />
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.UserID)</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
            </div>
        </div>
                    
        <div class="">
            <p>
                Faça um comentário sobre a postagem:
            </p>

            @using (Html.BeginForm("Comentar", "Home", FormMethod.Post, new { UserID = ViewBag.UserID, PostID = item.ID, Descricao = "teste", Data = DateTime.Now.ToString() }))
            {
                <input type="submit" value="Enviar" />
            }
        </div>
    }

    @Html.ActionLink("Publicar postagem", "Publicar", new { UserID = ViewBag.UserID })
</body>
</html>
