@model IEnumerable<Aplicação.Models.Postagem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        #petgramlogo {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class='nav-brand' id='petgramlogo'>
        <a href='/Home'>
            <img src='https://github.com/PI-InfoWeb-CNAT/petgram/blob/main/images/logo.jpeg?raw=true' alt='Logo PetGram' width="100px">
        </a>
    </div>
    @*foreach (var item in Model)
        {

            @Html.DisplayFor(modelItem => item.UserID)

            @Html.DisplayFor(modelItem => item.Data)

            @Html.DisplayFor(modelItem => item.Descricao)

            @Html.DisplayFor(modelItem => item.Visibilidade)

            @Html.DisplayFor(modelItem => item.Filtro)

        }*@

    <hr>
    @Html.ActionLink("Publicar postagem", "Publicar", new { UserID = ViewBag.UserID })

    @foreach (var item in Model)
    {
    <div class="card col align-items-left" style="margin: 10px 20px 10px 20px;">
        <img class="img-thumbnail img-responsive" style="height: 400px;" src="@Url.Action("GetImagem", "Home", new { id = item.ID })" />


        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.UserID)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
        </div>
    </div>

    <div class="">
        <p>
            Faça um comentário sobre a postagem:
        </p>

        @using (Html.BeginForm("Comentar", "Home", FormMethod.Post, new { UserID = ViewBag.UserID, PostID = item.ID, Descricao = "teste", Data = DateTime.Now.ToString() }))
        {
            <input type="submit" value="Enviar" />
        }
    </div>
    }

</body>
</html>
