@model Aplicação.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil</title>
</head>
<body>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data_Nascimento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Senha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Senha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmaSenha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmaSenha)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
