@model Aplicação.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background-color: #EB7E2F;
        }
        input {
            background-color: #EB7E2F;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            border: 1px solid #EB7E2F;
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px #EB7E2F inset;
            transition: background-color 5000s ease-in-out 0s;
        }
        .form-group input {
            background-color: #EB7E2F;
            border: 2px solid #2A5594;
            color: white !important;
        }
        .form-group input::placeholder {
            color: white;
        }
        .form-group input:focus {
            background-color: #EB7E2F;
            border: 1px solid #2A5594;
            color: white;
        }
        span.field-validation-valid{
            color: white !important;
        }
    </style>
</head>
<body>
    <div class='nav-brand'>
        <a href='/Home'>
            <img src='https://github.com/PI-InfoWeb-CNAT/petgram/blob/login_sem_identity/images/logo_branca_petgram.png?raw=true' alt='Logo PetGram' style="width:40%; height:40%; margin-left:30%; margin-right:30%">
        </a>
    </div>

    @using (Html.BeginForm("Create", "Cadastro", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div style="margin-left: 25%; margin-right: 25%; width: 50%; margin-top: 15%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*<h4 class='text-center' style="margin-top:20%; color:white; text-align:center">Por gentileza, preencha os seus dados:</h4>
            <div>
                <div class="form-group">
                    @Html.TextBox("imagem", "", new { type = "file"})
                </div>
            </div>*@

            <div class="form-group" style="color:white">
                @*@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div style="margin-top:1%">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="color:white">
                @*@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome de usuário" } })
                    @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.ConfirmaSenha, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirme sua senha" } })
                    @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Idade, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.TextBoxFor(model => model.Data_Nascimento, new { @placeholder = "Sua data de nascimento", @type = "date", @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.Data_Nascimento, "", new { @class = "text-danger" })
                </div>
                <h7 style="color:white">@ViewBag.VerificaIdade</h7>
            </div>

            <div class="form-group" style="color:white">
                @*@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })*@
                <div>
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fale um pouco sobre você" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <div class="form-group">
                    @Html.TextBox("imagem", "", new { type = "file"})
                </div>
            </div>

            @Html.HiddenFor(model => model.ImagemMimeType)
            @Html.HiddenFor(model => model.Imagem)

            <div class="form-group">
                <div style="text-align:center">
                    <input type="submit" value="Próximo" class="btn btn-default" style="background-color:#2A5594; color:white; border-color:#2A5594; width:200px" />
                </div>
            </div>


        </div>
        }
    </body>
</html>